<!doctype html>
<html>
  <head>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <title> {% block title %}{% endblock %} - My Webpage</title>

     <script src="{{ url_for('static', filename='raphael.js') }}"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
     <script src="{{ url_for('static', filename='color.jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.usmap.js') }}"></script>

     {% block pageSpecificHeadContent %}
     {% endblock %}
   </head>

  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
